<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" [routerLink]="['/']">PrdMgmt</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" [routerLinkActive]="['active']"><a [routerLink]="['/dashboards']">Home</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/products']">Products</a></li>
    </ul>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
  <footer>
    <p>Posted by: {{developer}}</p>
    Copyright &copy;
  </footer>
</div> -->


<app-toolbar></app-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>